#charts {
  width: 800px !important;
  height: 600px !important;
  margin: 0 auto;
}
#chart-buttons {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

h1 {
  text-align: center;
}